<div class='container mt-4'>
  <div class='d-flex justify-content-between align-items-center mb-3'>
    <h2 class='mb-0'>Features List</h2>
    <%= link_to 'New Feature', new_admin_feature_path, class: 'btn btn-success' %>
  </div>

  <div class='card shadow p-3'>
    <table class='table table-hover'>
      <thead class='thead-dark'>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Unit Price</th>
          <th>Max Unit Limit</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @features.each do |feature| %>
          <tr>
            <td><%= feature.name %></td>
            <td><%= feature.code %></td>
            <td>$<%= feature.unit_price %></td>
            <td><%= feature.max_unit_limit %></td>
            <td>
              <%= link_to 'Edit', edit_admin_feature_path(feature), class: 'btn btn-warning btn-sm' %>
              <%= link_to 'Delete', admin_feature_path(feature), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
