<div class='container mt-5'>
  <h1 class='mb-4'>New Feature</h1>

  <%= form_with model: @feature, url: admin_features_path, local: true, class: 'card p-4 shadow' do |f| %>
    <div class='mb-3'>
      <%= f.label :name, class: 'form-label' %>
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>

    <div class='mb-3'>
      <%= f.label :code, class: 'form-label' %>
      <%= f.text_field :code, class: 'form-control', required: true %>
    </div>

    <div class='mb-3'>
      <%= f.label :unit_price, class: 'form-label' %>
      <%= f.number_field :unit_price, class: 'form-control', step: '0.01', required: true %>
    </div>

    <div class='mb-3'>
      <%= f.label :max_unit_limit, class: 'form-label' %>
      <%= f.number_field :max_unit_limit, class: 'form-control', required: true %>
    </div>
    
    <%= f.submit 'Create Feature', class: 'btn btn-success' %><br>
    <%= link_to 'Cancel', admin_features_path, class: 'btn btn-secondary ms-2' %>
  <% end %>
</div>
